<!-- <courses></courses>  -->
<!-- <app-authors></app-authors> -->
<!-- <app-title></app-title> -->

<!-- <favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChange($event)"></favourite> -->
<!-- <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>body</h2>
        <p>Heshans paragraph</p>
    </div>
</bootstrap-panel> -->
<!-- <app-like [likesCount]="tweet.likesCount" [isLiked]="tweet.isLiked" (change)="onBtnClicked($event)"></app-like> -->

<!-- <div [hidden]="courses.length == 0">
    List of courses
</div>
<div [hidden]="courses.length > 0">
    No courses yet
</div> -->

<!-- <ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- <button (click)="loadCourses()">Load</button>
<ul>
    <li *ngFor="let course of courses; even as even; index as i; trackBy: trackCourse">
        {{i}} - {{course.name}} <span *ngIf="even">(EVEN)</span>
    </li>
</ul> -->
<!-- 
<button [ngStyle]="{
        'backgroundColor':canSave ? 'blue':'gray',
        'color':canSave ? 'white':'black',
        'fontWeight':canSave ? 'bold':'normal'
    }">
    Save</button> -->

<!-- <input type="text" [appInputFormat]="'uppercase'" /> -->
<!-- <zippy title="Shipping Details">
    Shipping Details Content
</zippy>

<zippy title="Vendor Details">
    Vendor Details Content
</zippy> -->

<!-- <app-contact-form></app-contact-form> -->
<!-- <app-course-form></app-course-form> -->
<!-- <signup-form></signup-form> -->
<new-course-form></new-course-form>